<!-- <ion-view>
    <ion-content class="animated fadeIn">
        Chat
    </ion-content>
</ion-view> -->
<ion-view>
    <ion-content class="animated fadeIn">

    </ion-content>

    <!-- <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear ion-paper-airplane" ng-click="sendMessage()">
        </button>
        <button class="button button-clear ion-volume-low" ng-click="sendMessage()">
        </button>
    </ion-footer-bar>
    <ion-view> -->

    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-paper-airplane footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
            </button>

            <button class="button button-icon icon ion-volume-high footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
            </button>
        </div>
    </ion-footer-bar>
