<ion-view>
    <ion-content class="center animated fadeIn padding">
        <div class="text-center">
            Lorem ipsum dolor sit amet, posse atomorum adolescens in mea. Duo at omnesque referrentur. Ut nec quod ancillae, eius tibique cotidieque ex his, iusto maiorum an est. Ea fugit omnium prodesset mei, at cum quidam graecis neglegentur. In quod nullam molestiae
            pro, cotidieque theophrastus eu eos. Atqui erroribus ut sit, sed at doctus saperet maiorum. Cotidieque definitiones has id, integre impedit ea eum. Habeo clita officiis sea id, usu ex equidem molestie intellegat. Cu nec aliquam quaerendum.
            Id cum officiis sadipscing, quo prima posidonium an. Ei eos legimus gloriatur repudiandae. His cu oratio soluta persecuti, quo at lorem perfecto reformidans. An mundi solet tincidunt sea. Eu per invidunt verterem erroribus, exerci impetus
            tincidunt vis id, est cu dicat facer. Inermis tractatos nam te, probo praesent his at.
        </div>

        <button class="button button-royal">
            Edit My Text
        </button>
    </ion-content>
</ion-view>
