<ion-view>
    <ion-content class="animated fadeIn">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <ion-list show-delete="data.showDelete">

            <ion-item ng-repeat="email in emails" class="item-avatar" ui-sref="app.chat({id: 1})">
                <img src="img/profile.jpg">
                <h2>{{email.from}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                    <!-- <span class="email-text">
              {{email.subject}}
            </span> -->
                    <span class="item-note email-text">
              {{email.date | date:'h:mm a'}}
            </span>
                </p>
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(email)">
                </ion-delete-button>
                <span class="badge badge-balanced">0</span>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
