<ion-view>
    <ion-content class="animated fadeIn">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" pager-click="pager(index)">
            <ion-slide>
                <img src="img/profile.jpg" class="full-image">
            </ion-slide>
            <ion-slide>
                <img src="img/profile.jpg" class="full-image">
            </ion-slide>
            <ion-slide>
                <img src="img/profile.jpg" class="full-image">
            </ion-slide>
        </ion-slide-box>
        <!-- <ion-slides options="options" slider="data.slider">
            <ion-slide-page>1</ion-slide-page>
            <ion-slide-page>2</ion-slide-page>
            <ion-slide-page>3</ion-slide-page>
            <ion-slide-page>4</ion-slide-page>
            <ion-slide-page>5</ion-slide-page>
        </ion-slides> -->
    </ion-content>
</ion-view>
