<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Start a chat</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeStart()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

      <div class="list">
      <span>{{message}}</span>
        <label class="item item-input">
          <span class="input-label">Nickname</span>
          <input type="text" ng-model="nickname">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="enterChat(nickname)" type="button">Enter chat</button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
