<ion-side-menu side="left" class="sidemenu">
    <ion-content>
        <ion-list>
            <!-- <ion-item menu-close ng-click="login()">
                Login
            </ion-item> -->
            <ion-item menu-close ui-sref="app.me" class="text-center">
                <img src="img/profile.jpg" class="full-image">
                <h2>Me</h2>
            </ion-item>

            <ion-item menu-close ui-sref="app.editText" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-compose-outline"></i> Edit My Text
            </ion-item>

            <ion-item menu-close ui-sref="app.editPhoto" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-photos-outline"></i> Edit My Photos
            </ion-item>

            <ion-item menu-close ui-sref="app.editVideo" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-recording-outline"></i> Edit My Videos
            </ion-item>
            
            <ion-item menu-close ui-sref="app.login" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-recording-outline"></i> Login
            </ion-item>

            <!-- <ion-item class="item-icon-right divide">
                <p>divide</p>
            </ion-item> -->

            <ion-item menu-close ui-sref="app.cam" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-videocam-outline"></i> Show All Cams
            </ion-item>

            <ion-item menu-close ui-sref="app.video" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-film-outline"></i> Show All Videos
            </ion-item>

            <ion-item menu-close ui-sref="app.photo" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-camera-outline"></i> Show All Photos
            </ion-item>

            <ion-item menu-close ui-sref="app.camSetting" ui-sref-active="active" class="item-icon-right">
                <i class="icon ion-ios-gear-outline"></i> Webcam Settings
            </ion-item>

            <ion-item class="text-center exit">
                <h2>Exit</h2>
            </ion-item>

            <!-- <ion-item menu-close align-title="center" class="bar-assertive">
                <h2 class="title">Exit</h2>
            </ion-item> -->
        </ion-list>
    </ion-content>
    <!-- <ion-footer-bar align-title="center" class="bar-assertive">
        <h2 class="title">Exit</h2>
    </ion-footer-bar> -->
</ion-side-menu>
