<ion-tabs class="tabs-royal">

    <ion-tab title="new" ui-sref="app.newEntry" badge="5" class="new">
        <ion-nav-view name="tab-newEntry"></ion-nav-view>
    </ion-tab>

    <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="app.list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Regio" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" ui-sref="app.regio">
        <ion-nav-view name="tab-regio"></ion-nav-view>
    </ion-tab>

    <!-- <ion-tab title="Video" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" ui-sref="app.video">
    <ion-nav-view name="tab-video"></ion-nav-view>
</ion-tab>

<ion-tab title="Photo" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ui-sref="app.photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
</ion-tab>

<ion-tab title="Cam" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" ui-sref="app.cam">
    <ion-nav-view name="tab-cam"></ion-nav-view>
</ion-tab>

<ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="app.me">
    <ion-nav-view name="tab-me"></ion-nav-view>
</ion-tab> -->

    <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="app.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-editText"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-editPhoto"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-editVideo"></ion-nav-view>
    </ion-tab>
    
    <ion-tab hidden="true">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-inbox"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-cam"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-video"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-photo"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>

    <ion-tab hidden="true">
        <ion-nav-view name="tab-camSetting"></ion-nav-view>
    </ion-tab>

</ion-tabs>
